{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ryan House Night Cyc!</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  </head>
  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <script src="/assets/js/app.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("select#classes").on("change", function(evt){
          $("table#signUps").find("tr:gt(0)").remove();
          classInfoQuery.equalTo("spinClass", $(this).val());
          classInfoQuery.find({
            success: function(results){
              if(results.length > 0){
                for(var i = 0; i < results.length; i++){
                  var signUp = results[i];
                  $("table#signUps").append("<tr><td>" + parseInt(i+1,10) + "</td><td>" + signUp.get("email") + "</td><td>" + signUp.id + "</td></tr>");
                }
              }
            },
            error: function(err){
              $("table#signUps").append("<tr><td>Sorry.</td><td>Try again.</td></tr>");
            }
          });
        });
      });
    </script>
  </body>
</html>
