form#sign-up{
  padding: 1rem;
  input, select, span{ height: 50px; }
  button{ margin-top: 20px; }
  p { padding: 0; margin: 0; }
  .switch-active, .switch-inactive { top: 80%; }
  .accordion-title { font-size: 1.2em; }
}
