<div class="row">
  <div class="small-12 large-6 columns">
  <select id="spin-class" name="spin-class">
    <option value="">Pick the class:</option>
    <option value="madison-tempe-1">The Madison (Tempe) 3-4pm</option>
    <option value="amb-bad-ass">Ambassador Bad Asses 4-5pm</option>
    <option value="madison-phoenix">The Madison (Phoenix) 5-6pm</option>
    <option value="rpm-spin">RPM spin 6-7pm</option>
    <option value="madison-tempe-2">The Madison (Tempe) 7-8pm</option>
  </select>
  </div>
  <div class="small-12 large-6 columns">
     <select id="front-row" name="front-row">
       <option value="">Want front row?</option>
       <option value="yes">Yes</option>
       <option value="no">No</option>
     </select>
  </div>
</div>
