<div class="row">
  <div class="small-12 large-6 columns">
  <select id="spin-class" name="spin-class" required>
    <option value="">Pick the class:</option>
    <option value="madison-phoenix">Madison Improvement Club (Phoenix)</option>
    <option value="madison-tempe">Madison Improvement Club (Tempe)</option>
    <option value="trucycle">TruCycle</option>
    <option value="rpm-spin">rpm spin</option>
  </select>
  </div>
  <div class="small-12 large-6 columns">
     <select id="front-row" name="front-row">
       <option value="">Want front row?</option>
       <option value="yes">Yes</option>
       <option value="no">No</option>
     </select>
  </div>
</div>
