<div class="large-6 columns">

  <div class="panel">
    <p>
      <span>Thank you!</span>
      You're all signed up. There is an email on it's way to you as well (so don't worry about forgetting things!).
    </p>
    <ul class="no-bullet">
      <li>
        <p class="lead">Our goal is:</p>
        <div class="stat goal-amount"></div>
      </li>
      <li>
        <p class="lead">So far we have raised:</p>
        <div class="stat raised-so-far"></div>
        <div class="progress">
          <span class="progress-meter" style="width: 0%">
            <p class="progress-meter-text"></p>
          </span>
        </div>
      </li>
    </ul>
  </div>

</div>
