<div class="row collapse">
  <div class="small-12 columns">
    <input type="text" id="cardholder-name" name="cardholder-name" placeholder="Cardholder Name" required>
  </div>
</div>

<div class="row collapse">
  <div class="small-12 columns">
    <input type="text" id="credit-card" name="credit-card" placeholder="Card Number" autocomplete="off" maxlength="20" required pattern="card">
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <img class="credit-card" src="https://bbox.blackbaudhosting.com/webforms/images/cards/visa_normal.png">
    <img class="credit-card" src="https://bbox.blackbaudhosting.com/webforms/images/cards/amex_normal.png">
    <img class="credit-card" src="https://bbox.blackbaudhosting.com/webforms/images/cards/discover_normal.png">
    <img class="credit-card" src="https://bbox.blackbaudhosting.com/webforms/images/cards/mastercard_normal.png">
  </div>
</div>

<div class="row">
  <div class="small-12 large-4 columns">
    <select class="" id="card-month" name="card-month" required>
      <option value="">Month</option>
      <option value="1">01</option>
      <option value="2">02</option>
      <option value="3">03</option>
      <option value="4">04</option>
      <option value="5">05</option>
      <option value="6">06</option>
      <option value="7">07</option>
      <option value="8">08</option>
      <option value="9">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  </div>
  <div class="small-12 large-4 columns">
    <select class="" id="card-year" name="card-year" required>
     <option value="">Year</option>
     <option value="2015">2015</option>
     <option value="2016">2016</option>
     <option value="2017">2017</option>
     <option value="2018">2018</option>
     <option value="2019">2019</option>
     <option value="2020">2020</option>
     <option value="2021">2021</option>
     <option value="2022">2022</option>
     <option value="2023">2023</option>
     <option value="2024">2024</option>
     <option value="2025">2025</option>
     <option value="2026">2026</option>
     <option value="2027">2027</option>
     <option value="2028">2028</option>
     <option value="2029">2029</option>
    </select>
  </div>
  <div class="small-12 large-4 columns">
    <input type="text" id="card-csc" name="card-csc" placeholder="CSC" required pattern="cvv">
  </div>
</div>
