<div class="large-12 columns">

  <div class="panel">
    <form id="sign-up" data-abide novalidate>

      <div class="row">
        <div class="small-12 columns">
          <input type="text" id="email" name="email" placeholder="Email" required pattern="email">
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <ul id="sign-up-options" class="accordion" data-accordion role="tablist">
            <li class="accordion-item is-active">
              <a href="#spinning" role="tab" class="accordion-title" id="panel-heading-1">Hell yes I'm riding!</a>
              <div id="spinning" class="accordion-content" role="tabpanel" data-tab-content aria-labeledby="panel-heading-1">
                {{> bike-info}}
                <div class="row">
                  <div class="small-12 columns">
                    <input type="text" name="extra-donation" id="extra-donation" placeholder="Extra donation?" pattern="number">
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion-item">
              <a href="#donating" role="tab" class="accordion-title" id="panel-heading-2">I can't ride but I can make it rain!</a>
              <div id="donating" class="accordion-content" role="tabpanel" data-tab-content aria-labeledby="panel-heading-2">
                <div class="row collapse">
                  <input type="text" id="donation" name="donation" placeholder="Feed happiness thru giving!" pattern="number">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      {{> credit-card}}

      <div class="row">
        <div class="small-12 columns">
          <div class="callout success">
            <p>You will be donating <span id="donation-total"></span> today!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-5 columns">
          <button type="submit" name="submit-signup" class="button">Sign Up</button>
        </div>
        <div class="small-7 columns">
          <div data-abide-error class="alert callout small" style="display: none;">
            <p>Uh oh. Missing things.</p>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
