<div class="large-12 columns">

  <div class="panel">
    <form id="sign-up" data-abide novalidate>

      <div class="row collapse">
        <div class="small-12  columns">
          <input type="text" id="email" name="email" placeholder="Email" required pattern="email">
        </div>
      </div>

      {{> bike-info}}

      <div class="row collapse">
        <input type="text" id="donation" name="donation" placeholder="You can donate more" required pattern="number">
      </div>

      {{> credit-card}}

      <div class="row collapse">
        <div class="small-4 columns">
          <button type="submit" name="submit-signup" class="button">Sign Up</button>
        </div>
        <div class="small-8 columns">
          <div data-abide-error class="alert callout small" style="display: none">
            <p>Uh oh. Missing things.</p>
          </div>
        </div>

      </div>

    </form>

  </div>
</div>
