<div class="large-6 columns">

  <div class="panel">
    <div class="sign">
      <h1>Ryan House Night Cyc</h1>
    </div>
    <p>
      <span>Are you ready to spin?</span>
      Crystal will tell me what we should put here. It should include some instructions on the form below and a description of the event.
    </p>
    <ul class="no-bullet">
      <li>
        <p class="lead">There will be <span id="totalBikes"></span> bikes:</p>
        <div class="stat bikes-left"></div>
      </li>
      <li>
        <p class="lead">We'll have <span id="totalFrontRowBikes"></span> front row bikes:</p>
        <div class="stat front-row-bikes-left"></div>
      </li>
      <li>
        <p class="lead">Our goal is:</p>
        <div class="stat goal-amount"></div>
      </li>
      <li>
        <p class="lead">So far we have raised:</p>
        <div class="stat raised-so-far"></div>
        <div class="progress">
          <span class="progress-meter" style="width: 0%">
            <p class="progress-meter-text"></p>
          </span>
        </div>
      </li>
    </ul>
  </div>

</div>
