<div class="large-6 columns">

  <div class="header panel">
    <div class="sign">
      <h1>Ryan House Night Cyc</h1>
    </div>
    <p>
      <span>Are you ready to spin?</span>
      Crystal will tell me what we should put here. It should include some instructions on the form below and a description of the event.
    </p>
    <ul class="no-bullet">
      <li>
        <p class="lead">There will be 400 bikes:</p>
        <div class="stat bikes-left"></div>
      </li>
      <li>
        <p class="lead">There will be 40 front row bikes:</p>
        <div class="stat front-row-bikes-left"></div>
      </li>
    </ul>
  </div>

</div>
