<div class="large-12 columns">

  <div class="panel">

    <div class="row">
      <div class="large-6 small-12 columns">
        <p>
          <h3 class="subheader">Sweat, Music and Dance ...</h3>
          Imagine one night, one commUNITY coming together to make children's dreams come alive at the <a href="http://www.ryanhouse.org">Ryan House</a>.
          We can't imagine a better way to embrace children and their families as they navigate their unique life-limiting or end-of-life journeys than to do this togther at the amazing Madison Improvement Club.
        </p>
        <p>
          Join us for a post-sweat after party hosted by "the coup" at <a href="http://www.culinarydropout.com/locations/tempe/">Culinary Dropout</a> where you will receive complimentary drinks and light snacks.
        </p>
        <p>
          <h3 class="subheader">The studios and classes ...</h3>
          This event will be held Saturday January 23rd at <a href="/location">The Madison in Tempe Arizona</a>. There will be 4 studios putting on 5 hours of classes:
        </p>
        <p>
          <ul class="no-bullet">
            <li><span class="label secondary">3-4 pm</span> by Andrew Varela and Michael Collinge - <a href="http://themadisonvibe.com/location/tempe/">The Madison (Tempe)</a></li>
            <li><span class="label secondary">4-5 pm</span> by Ambassador Bad Asses</li>
            <li><span class="label secondary">5-6 pm</span> by Matt Peterson and Lindsay Reuben - <a href="http://themadisonvibe.com/location/phoenix">The Madison (Phoenix)</a></li>
            <li><span class="label secondary">6-7 pm</span> by Holly Miller - <a href="http://rpmspinaz.com/">RPM spin</a></li>
            <li><span class="label secondary">7-8 pm</span> by Brittny Golding and Mikayla Shannon - <a href="http://themadisonvibe.com/location/tempe/">The Madison (Tempe)</a></li>
          </ul>
        </p>
        <p>
          <h3 class="subheader">All about the bikes ...</h3>
          Each class will have 60 bikes that will cost you $25 to ride. Lock down one of the 18 front row bikes for an extra $25.
        </p>
        <p>
          Don't want to ride? We'd still love to have you come and enjoy the dancing and food! (Don't forget to <a href="/signup">donate</a>!)
        </p>
        <p>
          The best part - all your money goes to  <a href="http://www.ryanhouse.org">Ryan House</a>!
        </p>

        <a class="button expanded" href="/signup">Sign Up to ride or donate!</a>

      </div>
      <div class="large-6 small-12 columns">
        <div class="row small-up-1 medium-up-2 large-up-2">
          <div class="column">
            <div class="callout primary">
              <p class="lead">There are <span id="totalBikes"></span> bikes:</p>
              <div class="stat bikes-left"></div>
            </div>
          </div>
          <div class="column">
            <div class="callout primary">
              <p class="lead">Want front row?</p>
              <div class="stat front-row-bikes-left"></div>
            </div>
          </div>
          <div class="column">
            <div class="callout primary">
              <p class="lead">Our goal is:</p>
              <div class="stat goal-amount"></div>
            </div>
          </div>
          <div class="column">
            <div class="callout success">
              <p class="lead">We have raised:</p>
              <div class="stat raised-so-far"></div>
              <div class="progress">
                <span class="progress-meter" style="width: 0%">
                  <p class="progress-meter-text"></p>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div class="panel">
              <div class="fb-like" data-href="https://www.nightcyc.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
              <div><a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.nightcyc.com" data-text="Come join us for Sweat, Music and Dance!" data-via="clintjhill" data-hashtags="nightcyc">Tweet</a></div>
              <iframe width="100%" height="300" src="https://www.youtube.com/embed/AjJpwOC6_Tk?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=0" frameborder="0" allowfullscreen=""></iframe>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
