<div class="large-12 columns">

  <div class="panel">
    <p>
      <h3 class="subheader">Sweat, Music and Dance ...</h3>
      We are taking the streets of downtown Phoenix.</p>
    <div class="row">
      <div class="large-6 columns">
        <p><a href="http://phxpublicmarket.com/openair/"><img src="assets/img/openairlogo23.png" alt="Open Air Market, Phoenix Public Market" /></a></p>
      </div>
      <div class="large-6 columns">
        <p>721 N Central Avenue (Central and McKinley) <br>(602) 625-6736 <br><a href="http://phxpublicmarket.com/openair/">Website</a></p>
      </div>
    </div>

    <div class="row map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.740818840047!2d-112.07572718480047!3d33.45605588077233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b123d17000d51%3A0x6cf63b7aec973456!2s721+N+Central+Ave%2C+Phoenix%2C+AZ+85004!5e1!3m2!1sen!2sus!4v1449423664444"
        frameborder="0"
        style="border:0"
        allowfullscreen></iframe>
    </div>
  </div>

</div>
