<div class="large-6 columns">
  <div class="header panel">
    <div class="sign">
      <h1>The amazing location</h1>
    </div>
    <p><span>Beats, lights - party!</span> Crystal will tell me what we should put here. It should include some instructions on the form below and a description of the event.</p>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.0354436057514!2d-112.35834168383208!3d33.63032298072276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b44b8b57b62a9%3A0x62100d2ef07abc9f!2s16108+N+137th+Dr%2C+Surprise%2C+AZ+85374!5e0!3m2!1sen!2sus!4v1448468858930"
        frameborder="0"
        style="border:0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
