@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

body { background:#333; }

.header.panel {
  margin: 3rem auto 1rem auto;
  border: 2px solid #444;
  background: #fff;

  form{
    padding: 15px;
    input, select, span{ height: 50px; }
    button{ margin-top: 20px; }
    img { margin-bottom: 16px; }
    p { padding: 0; margin: 0; }
    .switch-active, .switch-inactive { top: 80%; }
  }

  p {
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem;

    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold;
    }
  }

  p + .stat {
    margin-top: -2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .sign {
    background:#fff;
    width: 250px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -1rem;
    margin: auto;

    h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: $primary-color;
      font-size: 70%;
      text-align: center;
      line-height: 2rem;
    }
  }
}

.map {
  margin-top: -1rem;
  padding: 0 2rem 2rem 2rem;
  iframe { width: 100%; }
}

input[data-toggle] {
  display: none;
}

ul.button-group {
  margin-left: 0;
}

.button-group li {
  display: inline-block;
}

.button-group .button {
  margin-right: -0.1rem;
}

input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: $primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset,
              0 1px 2px rgba(0, 0, 0, 0.05);
}
